body {
	background: url("../images/wall_background2.jpg");
	background-size: cover;
}

h1 {
	color: maroon;
	font-weight: bold;
	text-align: center;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

#createContactButton {
	margin-top: 10px;
}

.form-group {
	margin-bottom: 6px;
}

select.form-control {
	margin-top: 16px;
}