body {
	background: url("../images/wall_background2.jpg");
	background-size: cover;
	padding-bottom: 60px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

h1 {
	color: maroon;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 30px;
}

h2 {
	margin: 10px;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

.list {
	background: rgba(255,255,255, 0.2);
	border-radius: 12px;
	padding: 0 10px 0px 10px;
}

#createContactButton {
	margin-top: 10px;
}

.form-group {
	margin-bottom: 6px;
}

select.form-control {
	background: rgba(255,255,255, 0.2);
	margin-top: 16px;
}

input.form-control {
	background: rgba(255,255,255, 0.2);
	height: 30px;
	padding: 4px 12px;
	font-size: 12px;
	color: black;
	font-weight: 500;
}

.contact_view {
	display: none;
}
